<!DOCTYPE html>
<html lang="en">
<link rel="stylesheet" type="text/css" href="../static/css/navBar.css" th:href="@{css/navBar.css}">

<head>
    <meta charset="UTF-8">
</head>
<body>
<div class="container_navbar">
    <div class="box_navbar">
        <ul class="text">
            <li><a id="menu_1" th:href="@{/}">Home</a></li>
            <li><a id="menu_2" th:href="@{/projects}">Projects</a></li>
            <li><a id="menu_3" th:href="@{/contact}">Contact</a></li>
            <li><a id="menu_4" th:href="@{/about}">About</a></li>
        </ul>
    </div>
</div>
</body>
</html>